.footer-container{
    font-family: 'Montserrat', sans-serif;
    background-color: #000000;
}
.footer-logo{
    color: #810000;
    font-size: 2rem;
    font-weight: 800;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.footer-col2{
    text-transform: uppercase;
    color: #ffffff;
}
.footer-col2 h4{
    margin-bottom: 2rem;
}
.footer-col2  h6{
    margin-bottom: 1.5rem;
}
.footer-col2-data{
    background-color:#ffffff;
    width: 25rem;
    height: 3rem;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}
.footer-col2-data button{
    border:none;
    background-color: #810000;
    color: #ffffff;
    border-radius: 100%;
    height: 2.5rem;
    width: 2.5rem;
}
.footer-col2-data input{
    margin-left: 0.5rem;
    margin-right: 7rem;
}
.navbar-expand{
    justify-content:center;
}
.footer-links-content{
    margin-bottom: 1rem;
    font-size: 2rem;
}
.footer-links i{
    font-size: 1.5rem;
    padding-left: 2.5rem ;
    padding-right: 2.5rem;
    color: #810000;
}  
.footer-links i:hover{
    color: #ffffff;
}  


